{extend name="Public/index"/}

{block name="content"}
<div class="container-fluid">
	    <div class="row-fluid">
 
            <div class="span6">			
						<ul class="quick-actions">
                             {volist name="short" id="vo"}
                            <li>
								<a href="{:url($vo['link'],['cid'=>$vo['cid']])}">								
									{$vo.cname}
								</a>
							</li>
                            {/volist}
						    
                            <li>
								<a href="{:url('index/index/index')}">									
									网站首页
								</a>
							</li>
                            <li>
								<a href="{:url('admin/Login/logout')}">									
									退出登录
								</a>
							</li>
						</ul>
					</div>
	     

            <div class="span6">
            <div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-file"></i>
								</span>
								<h5>留言</h5>
							</div>
							<div class="widget-content nopadding">
								<ul class="recent-posts">
                                     {volist name="list" id="vo"}
									<li>
									
										<div class="article-post">
											<span class="user-info"> {$list.NickName} {$list.createDate}</span>
											<p>
												{$list.content}
											</p>
											<span class="user-info">Tel:{$list.NickName} Email:{$list.Email}</span>
										</div>
									</li>
									 {/volist}
									<li class="viewall">
										<a title="View all posts" class="tip-top" href="{:url('index/message')}"> +更多留言+ </a>
									</li>
								</ul>
							</div>
						</div>
            </div>
		</div>
</div>
{/block}