{extend name="Public/index"/}

{block name="content"}

<div class="container bgcolor">	
     <div class="row">
	<div class="col-lg-12 nopading">
        <div class="col-lg-12 margintop30">
	        <div class="page-header">            
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('video/index',['cid'=>'32'])}">更多<span class="glyphicon glyphicon-menu-right"></span></a></li>
                    <li>宝贝麦西西</li>              
                </ul>
            </div>
        </div>
        <!-- Service Blcoks -->
       
            {volist name="baby" id="vo"}
            <div class="col-md-6">
                <a href="{:url('video/detail',['cid'=>$vo['cid'],'id'=>$vo['id']])}">
                      <div class="thumbnail">
                          <img src="__vidurl__/{$vo.imgurl}" alt=""/>   
                          <div class="caption">
                            <h4>{$vo.title}</h4>
                            <p>{$vo.intro}</p> 
                          </div>
                      </div>
                </a>       
            </div>

        
            {/volist}
        </div>    </div>
</div>



<div class="container bgcolor">
	<div class="row">
        <div class="col-lg-12 nopading">
            <div class="col-lg-12">
            <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('article/index',['cid'=>'6'])}">更多<span class="glyphicon glyphicon-menu-right"></span></a></li>
                    <li>最新动态</li>              
                </ul>
            </div>
</div>
                {volist name="new" id="vo"}
                <div class="col-lg-12 marginbot30">
                    <a href="{:url('article/detail',['cid'=>$vo['cid'],'id'=>$vo['id']])}" title="{$vo.title}">
                         <div class="thumbnail-2">
                            <div class="col-md-3">
		                        <img src="__imgurl__/{$vo.imgurl}" alt="{$vo.title}"/>
		                    </div>
			                <div class="col-md-9">	
                                <div class="caption">		         
                                    <h4>{$vo.title}</h4>
                                    <p>{$vo.intro}</p>
                                    <p>{$vo.createDate}</p>
                                </div>	
			                </div>
                         </div> 
                    </a>
                </div>
                {/volist}
        </div>   
    </div>
</div>


<div class="container bgcolor">	
    <div class="row">
	<div class="col-lg-12 nopading">
        <div class="col-lg-12">
		    <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('video/index',['cid'=>'31'])}">更多<span class="glyphicon glyphicon-menu-right"></span></a></li>
                    <li>视频中心</li>              
                </ul>
            </div>
        </div>
        <!-- Service Blcoks -->
        
            {volist name="video" id="vo"}  
            <div class="col-md-3">
                <div class="panel panel-default panel-card">
                    <div class="panel-heading">
                        <img src="__vidurl__/{$vo.imgurl}" alt="{$vo.title}"/>
                       
                    </div>
   
                    <div class="panel-body text-center">
                        <h5 class="panel-header">
                            <a href="{:url('video/detail',['cid'=>$vo['cid'],'id'=>$vo['id']])}" title="{$vo.title}">{$vo.title}</a>
                        </h5>
                       
                    </div>
                    <div class="panel-thumbnails">
                     <hr/>
                            <p>
                                <a href="{:url('video/detail',['cid'=>$vo['cid'],'id'=>$vo['id']])}" title="{$vo.intro}">{$vo.intro}</a>
                            </p>  
                      
                    </div>
                </div>    
            </div>                   
            {/volist}
        </div>    </div>
</div>



<div class="container bgcolor">
    <div class="row">	
	<div class="col-lg-12 nopading">
        <div class="col-lg-12">
		    <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="https://maixixi.tmall.com/shop/view_shop.htm?spm=a220m.1000862.1000730.3.o9c0fc&user_number_id=1756977921&rn=12cd37b1cbe885800c4aa60e3c1cc19f">更多<span class="glyphicon glyphicon-menu-right"></span></a></li>
                    <li>产品展示</li>              
                </ul>
            </div>
        </div>
        <!-- Service Blcoks -->
        
                {volist name="product" id="vo"}
                <div class="col-md-3">
                    <a href="{$vo.link}" title="{$vo.title}">
                        <div class="thumbnail-1">
                            <img src="__imgurl__/{$vo.imgurl}" alt="{$vo.title}">  
                            <div class="caption">
                                <h5>{$vo.title}</h5>  
                            </div>
                        </div>
                    </a>
                </div>
            {/volist}
        </div>    </div>
</div>



<div class="container bgcolor">	
	<div class="col-lg-12 nopading">
   
		    <div class="page-header">                
                <ul class="list-unstyled">
               
                    <li>店铺形象展示</li>              
                </ul>
            </div>
     
 
	    <div class="col-lg-12 nopading">
		    <!----start-img-cursual---->
            <ul id="flexiselDemo1">			
                    {volist name="product" id="vo"}
			        <li>

				    <a href="{$vo.link}">
					        <img src="__imgurl__/{$vo.imgurl}" alt=" " class="img-responsive" />
				     </a>

			        </li>
                    {/volist}
		    </ul>
		    <!----//End-img-cursual---->
	    </div>    </div>
</div>

{/block}
