{extend name="Public/index"/}
{block name="title"}麦西西|上海麦晨儿童用品有限公司{/block}
{block name="content"}
<div class="container bgcolor">
	<div class="row">
        {neq name="newcoun" value="0"}
       <div class="col-lg-12">
            <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('article/index',['cid'=>$newcate['cid']])}">more...</a></li>
                    <li>{$newcate.cname}</li>              
                </ul>
            </div>
                {volist name="newList" id="vo"}
                <div class="col-lg-12 marginbot30">
                    <a href="{:url('article/detail',['cid'=>$vo['cid'],'id'=>$vo['id']])}">
                         <div class="thumbnail-2">
                            <div class="col-md-3 imgcap">
		                        <img src="__imgurl__/{$vo.imgurl}" alt="{$vo.title}"/>
		                    </div>
			                <div class="col-md-9 caption">				         
                                    <h3>{$vo.title}</h3>
                                    <p>{$vo.intro}</p>
                                <p>{$vo.createDate}</p>
			                </div>
                         </div> 
                    </a>
                </div>
                {/volist}
        </div>   
        {/neq}

        {neq name="zscoun" value="0"}
        <div class="col-lg-12">
            <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('article/index',['cid'=>$zscate['cid']])}">more...</a></li>
                    <li>{$zscate.cname}</li>              
                </ul>
            </div>
                {volist name="zsList" id="vo"}
                <div class="col-lg-12 marginbot30">
                    <a href="{:url('article/detail',['cid'=>$vo['cid'],'id'=>$vo['id']])}">
                        <div class="thumbnail-2">
                            <div class="col-md-3 imgcap">
		                        <img src="__imgurl__/{$vo.imgurl}" alt="{$vo.title}"/>
		                    </div>
			                <div class="col-md-9 caption">				         
                                    <h3>{$vo.title}</h3>
                                    <p>{$vo.intro}</p>
                                <p>{$vo.createDate}</p>
			                </div>
                         </div> 
                    </a>
                </div>
                {/volist}
        </div> 
        {/neq}

        {neq name="homecoun" value="0"}
         <div class="col-lg-12">
            <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('article/index',['cid'=>$homecate['cid']])}">more...</a></li>
                    <li>{$homecate.cname}</li>              
                </ul>
            </div>
                {volist name="homeboyList" id="vo"}
                <div class="col-lg-12 marginbot30">
                    <a href="{:url('article/detail',['cid'=>$vo['cid'],'id'=>$vo['id']])}">
                        <div class="thumbnail-2">
                            <div class="col-md-3 imgcap">
		                        <img src="__imgurl__/{$vo.imgurl}" alt="{$vo.title}"/>
		                    </div>
			                <div class="col-md-9 caption">				         
                                    <h3>{$vo.title}</h3>
                                    <p>{$vo.intro}</p>
                                <p>{$vo.createDate}</p>
			                </div>
                         </div> 
                    </a>
                </div>
                {/volist}
        </div> 
        {/neq}

        {neq name="vidcoun" value="0"}
         <div class="col-lg-12">
            <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('video/index',['cid'=>$vidcate['cid']])}">more...</a></li>
                    <li>{$vidcate.cname}</li>              
                </ul>
            </div>
                {volist name="vidList" id="vo"}
                    <div class="col-md-3">
                        <a href="{:url('video/detail',['cid'=>$vo['cid'],'id'=>$vo['id']])}">
					        <div class="thumbnail">
						        <img alt="" src="__vidurl__/{$vo.imgurl}" width="100%"/>
						        <div class="caption1">
							        <h4>
								        {$vo.title}
							        </h4>
							        <p>
								       {$vo.intro}
							        </p>
						        </div>
					        </div>
                        </a> 
				    </div>
                {/volist}
        </div> 
        {/neq}

        {neq name="productcoun" value="0"}
         <div class="col-lg-12">
            <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('picture/index',['cid'=>$productcate['cid']])}">more...</a></li>
                    <li>{$productcate.cname}</li>              
                </ul>
            </div>
                {volist name="productList" id="vo"}
               <div class="col-md-3">
                        <a href="{$vo.link}">
					        <div class="thumbnail-1">
						        <img alt="" src="__imgurl__/{$vo.imgurl}" width="100%"/>
						        <div class="caption">
							        <h4>
								        {$vo.title}
							        </h4>
						        </div>
					        </div>
                        </a> 
				    </div>
                {/volist}
        </div> 
        {/neq}

        {neq name="dpcoun" value="0"}
         <div class="col-lg-12">
            <div class="page-header">                
                <ul class="list-unstyled">
                    <li class="pull-right"><a href="{:url('picture/index',['cid'=>$dpcate['cid']])}">more...</a></li>
                    <li>{$dpcate.cname}</li>              
                </ul>
            </div>
                {volist name="dpList" id="vo"}
                <div class="col-md-3">
                        <a href="{$vo.link}">
					        <div class="thumbnail-1">
						        <img alt="" src="__imgurl__/{$vo.imgurl}" width="100%"/>
						        <div class="caption">
							        <h4>
								        {$vo.title}
							        </h4>
						        </div>
					        </div>
                        </a> 
				    </div>
                {/volist}
        </div> 
        {/neq}


	</div></div>{/block}