{extend name="Public/index"/}
{block name="title"}{$category.cname}|上海麦晨儿童用品有限公司{/block}
{block name="content"}
<div class="container bgcolor">
<section class="callaction">
		<div class="row">
            <div class="col-md-12 pading30">
                    
            <div class="page-header">    
                <h3 class="marginleft20">{$list.title}</h3>       
            </div>
            <div class="pading30" id="content">
                    {$list.content}
                </div>
            </div>
		</div>
</section></div>{/block}