{extend name="Public/index"/}
{block name="title"}联系我们|上海麦晨儿童用品有限公司{/block}
{block name="css"}
<link href="__home__/css/touchTouch.css" rel="stylesheet" />
{/block}
{block name="content"}

<div class="container bgcolor">	
    <div class="row">
	    <div class="col-lg-12 nopading">
            <div class="col-md-12">
		        <div class="page-header">                
                     <h3>联系我们</h3>
                </div>
           </div>

            <div class="col-md-6 nopading"> 
                <div class="col-md-12">
                        <div class="bottomLine">                
                        <p>
                        找到我们很容易!您可以通过以下方式联系我们，或在页面右侧给我们留言。
                        </p><p>
                        You can contact us by, or at the right side of the page message to us.
                        </p>
                        </div>
                        <div class="bottomLine">       
                        {if condition="$list['address'] neq ''"}
                           <p>地址：<span class="text">{$list.address}</span></p>
                        {/if}
                        {if condition="$list['telphone'] neq ''"}
                           <p>电话：<span class="text">{$list.telphone}</span></p>
                        {/if}
					    {if condition="$list['fax'] neq ''"}
                           <p>传真：<span class="text">{$list.fax}</span></p>
                        {/if}
					    {if condition="$list['email'] neq ''"}
                           <p>Email：<span class="text">{$list.email}</span></p>
                        {/if}
                        </div>
                        
					    {if condition="$list['imgurl'] neq ''"}
                        <div class="botlinepad10 twopic"> 
                            <a class="gal" href="__imgurl__/{$list['imgurl']}">
                                <img src="__imgurl__/{$list['imgurl']}" alt=""/>
                            </a>
                        </div>
                        {/if}       
                </div>
                <div class="col-md-12">
                {volist name="twopic" id="vo"}
                  <div class="col-md-6 twopic">
                    <a class="gal" href="__imgurl__/{$vo.imgurl}">
                        <img src="__imgurl__/{$vo.imgurl}" alt=""/>
				    </a>
                  </div>
                {/volist}
                </div>
            </div>
            <div class="col-md-6">  
                <div class="bottomLine">
                <p>感谢您对知君互动的关注！为了便于我们更好的为您服务，请正确填写以下信息，我们会在24小时 内与您取得来联系，并答复您的需求! </p>
                     <p>In order for us to better serve you,please fill in information,we will within 24 hoursAnd you have to contact, and responses to your needs!</p>
                </div>                

				<div class="contact-form">
                    <h4>我要留言</h4>
                    <p>电子邮件地址不会被公开。 必填项已用 <strong>*</strong> 标注 </p>
                 
					<form action="{:url('contact/addmeg')}" method="post" onsubmit="return cheakform();">
						<div class="form-group">
							<label for="name">您的昵称 Your NickName<strong>*</strong></label>
							<input type="text" class="form-control" id="NickName" name="NickName" placeholder="您的昵称">
							
						</div>
						<div class="form-group">
							<label for="name">联系电话 Tel  <strong>*</strong></label>
							<input type="tel" class="form-control" name="Tel" id="Tel" placeholder="联系电话">
							
						</div>
						<div class="form-group">
							<label for="name">电子邮件 Email  <strong>*</strong> </label>
							<input type="email" class="form-control" name="Email" id="Email" placeholder="Email">
							
						</div>
						<div class="form-group">
							<label for="message">留言内容 Your comment</label>
							<textarea class="form-control" rows="6" name="content" placeholder="留言内容"></textarea>
							
						</div>
						<button type="submit" class="btn btn-default">留言</button>
					</form>
				</div>
            </div>
        </div>    </div>
</div>
{/block}
{block name="js"}
 <script src="__home__/js/touchTouch.jquery.js"></script>
 <script src="__home__/js/jquery.ui.totop.js"></script>
<script>
    function cheakform()
    {
        var username = document.getElementById("NickName");
        var tel = document.getElementById("Tel");
        var email = document.getElementById("Email");
        if (username.value.length == 0)
        {
            alert("请输入您的昵称");
            username.focus();
            return false;
        }

        if (tel.value.length == 0)
        {
            alert("请输入您的联系电话");
            tel.focus();
            return false;
        }

        if (email.value.length == 0)
        {
            alert("请输入您的电子邮箱");
            email.focus();
            return false;
        }

        return true;
    }
</script>
<script>
        $(document).ready(function(){
          $().UItoTop({ easingType: 'easeOutQuart' });
        });  
        $(function(){
        // Initialize the gallery
        $('.twopic a.gal').touchTouch();
        });  
</script>
{/block}