{extend name="Public/index"/}
{block name="title"}添加{$category.cname}|上海麦西西后台管理系统{/block} 
{block name="header"}添加{$category.cname}{/block}
{block name="nav"}<a href="{:url('article/index',['cid'=>$category['cid']])}"  class="tip-bottom">{$category.cname}管理</a><a href="#" class="current">添加{$category.cname}</a>{/block}
{block name="content"}
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="icon-pencil"></i>
					</span>
					<h5>添加{$category.cname}</h5>
				</div>
				<div class="widget-content nopadding">
					<form class="form-horizontal" method="post" action="{:url('article/add')}" enctype="multipart/form-data">
                        <input type="hidden" name="cid" value="{$category.cid}">
						<div class="control-group">
                          <label for="normal" class="control-label">标题</label>
                          <div class="controls">
                            <input type="text" name="title">
                           </div>
                        </div>

                        <div class="control-group">
                          <label for="normal" class="control-label">简介</label>
                          <div class="controls">
                              <textarea name="intro" rows="5"></textarea>
                           </div>
                        </div>

                        <div class="control-group">
                            <label for="text" class="control-label">内容</label>
                            <div class="controls">
                                <textarea id="editor" name="content" class="span10"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label">上传封面图片</label>
                          <div class="controls">
                              <div class="alert alert-warning">提示：上传图片大小：宽255px、高255px</div>
                              <input type="file" id="imageUpload" name="imgurl"/>
				              <div id="preview" class="preview"></div>
                          </div>
                            <style>
                                .preview{margin-top: 20px; position: relative; width: 600px;height: 250px;}
                                .preview .item{position: absolute; width: 250px; height: 250px;}
                                .preview img{max-width: 224px;max-height: 224px;cursor: url(../images/big.cur), auto;  box-shadow: 0px 1px 1px 1px #AAA3A3;}
                                .preview img:hover{box-shadow: 0px 1px 1px 2px #83ABD2;}
                                .preview .big{z-index: 2;}
                                .preview .big img{max-width: none; max-height: none; cursor: url(../images/small.cur), auto;box-shadow: 2px 2px 10px 2px #666;}
                            </style>
                             <script type="text/javascript">
                                var Upload = (function(){
                                    var upimg = document.getElementById('imageUpload');
                                    var show  = document.getElementById('preview');

                                    function init(){
                                        if(!(window.FileReader && window.File && window.FileList && window.Blob)){
                                            show.innerHTML = '您的浏览器不支持fileReader';
                                            upimg.setAttribute('disabled', 'disabled');
                                            return false;
                                        }
                                        handler();
                                    }

                                    function handler(){
                                        upimg.addEventListener('change', function(e){
                                            var files = this.files;
                                            if(files.length){
                                                checkFile(this.files);
                                            }
                                        });

                                        show.addEventListener('click', function(e){
                                            var target = e.target;
                                            if(target.tagName.toUpperCase()=='IMG'){
                                                var parent = target.parentNode;
                                                var big = parent.className.indexOf('big')>=0;
                                                var item = this.childNodes;
                                                for(var i=0; i<item.length; i++){
                                                    item[i].className = 'item';
                                                    item[i].firstElementChild.style.cssText = '';
                                                }

                                                var parent = target.parentNode;
                                                if(!big){
                                                    // 点击放大
                                                    target.style.cssText = 'width:'+target.naturalWidth+'px; height:'+target.naturalHeight+'px;'; // 关键
                                                    parent.className += ' big';
                                                }
                                            }
                                        }, false)
                                    }

        
                                    function checkFile(files){
        	                            var file = files[0];
        	                            var reader = new FileReader();
        	                            // show表示<div id='show'></div>，用来展示图片预览的
        	                            if(!/image\/\w+/.test(file.type)){
                                            show.innerHTML = "请确保文件为图像类型";
                                            return false;
                                        }
                                        // onload是异步操作
        	                            reader.onload = function(e){
        		                            show.innerHTML = '<img src="'+e.target.result+'" alt="img">';
        	                            }
        	                            reader.readAsDataURL(file);
                                    }
                                    return {
                                        init : init
                                    }
                                })();
                                Upload.init();
                                </script>
                        </div>

                        <div class="control-group">
                          <label for="normal" class="control-label">发表时间：</label>
                          <div class="controls">
                            <input type="datetime-local" name="createDate" value="{$time}"/>
                          </div>
                        </div>		
                        
                        <div class="control-group">                   
                          <div class="controls">
                                <div class="checkbox">
                                  <label>
                                     <input type="checkbox" name="ishome">放到首页
                                  </label>
                                </div>
                            </div>
                        </div>	
                        				
						<div class="form-actions">
								<input  class="btn btn-primary" type="reset" value="重置" />
								<input  class="btn btn-primary" type="submit" value="提交" />
											
						</div>
								
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{/block}
      {block name="js"}
         {js href="__editor__/ueditor.config.js"/}
         {js href="__editor__/ueditor.all.js"/}
        <!-- 实例化编辑器 -->
        <script type="text/javascript">
            var ue = UE.getEditor('editor',{
                initialFrameHeight:400
            });
        </script>
      {/block}