{extend name="Public/index"/}
{block name="title"}添加用户|上海麦西西后台管理系统{/block}
 {block name="css"}
 {css href="__admin__/css/uniform.css"}
 {css href="__admin__/css/select2.css"}
{/block}  
{block name="header"}修改用户密码{/block}
{block name="nav"}<a href="{:url('admin/User/index')}"  class="tip-bottom">用户管理</a><a href="#" class="current">修改用户密码</a>{/block}
{block name="content"}
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="icon-pencil"></i>
					</span>
					<h5>修改用户密码</h5>
				</div>
				<div class="widget-content nopadding">
					<form class="form-horizontal" method="post" action="{:url('admin/user/update')}" name="password_validate" id="password_validate" novalidate="novalidate">
                        <div class="control-group">
							<label class="control-label">用户名:</label>
							<div class="controls">
                                <input type="hidden" name="id" value="{$list.id}"/>
                                <input type="hidden" name="username" value="{$list.username}"/>
								<h4 >{$list.username}</h4>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">新密码</label>
							<div class="controls">
								<input type="password" name="password" id="pwd" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">再次确认新密码</label>
							<div class="controls">
								<input type="password" name="password2" id="pwd2" />
							</div>
						</div>
						<div class="form-actions">
                            <input type="reset" value="重置" class="btn btn-primary" />
							<input type="submit" value="提交" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


{/block}
      {block name="js"}
         {js href="__admin__/js/jquery.uniform.js"/}
         {js href="__admin__/js/select2.min.js"/}
         {js href="__admin__/js/jquery.validate.js"/}
         {js href="__admin__/js/unicorn.form_validation.js"/}
      {/block}