{extend name="Public/index"/}
{block name="title"}修改{$category.cname}|上海麦西西后台管理系统{/block}
{block name="css"}
     {css href="__admin__/css/uniform.css"}
     {css href="__admin__/css/select2.css"}
     {css href="__admin__/css/colorpicker.css"}
     {css href="__admin__/css/datepicker.css"}
{/block}  
{block name="header"}修改{$category.cname}{/block}
{block name="nav"}<a href="{:url('video/index',['cid'=>$category['cid']])}"  class="tip-bottom">{$category.cname}管理</a><a href="#" class="current">修改{$category.cname}</a>{/block}
{block name="content"}
<div class="container">
	<div class="row-fluid">
		<div class="span10">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon">
						<i class="icon-pencil"></i>
					</span>
					<h5>修改{$category.cname}</h5>
				</div>
				<div class="widget-content nopadding">
					<form class="form-horizontal" method="post" action="{:url('video/update')}" enctype="multipart/form-data">
                        <input type="hidden" name="cid" value="{$category.cid}">
                        <input type="hidden" name="id" value="{$list.id}">
						<div class="control-group">
                          <label for="normal" class="control-label">标题</label>
                          <div class="controls">
                            <input type="text" name="title" value="{$list.title}">
                           </div>
                        </div>
 
                        <div class="control-group">
                          <label for="normal" class="control-label">简介</label>
                          <div class="controls">
                              <textarea name="intro" rows="4">{$list.intro}</textarea>
                           </div>
                        </div>

                        <div class="control-group">
                          <label for="normal" class="control-label">视频上传</label>
                          <div class="controls">
                               <input type="hidden" name="flag" value="{$list.flag}"/>
                              {if condition="$list['flag'] == '0'"}
                                <textarea name="vidurl" rows="5">{$list.vidurl}</textarea>
                              {else/}
                                <input type="hidden" name="exvidurl" value="{$list.vidurl}"/>
                                <input type="file" name="vidurl"/>
                              {/if}
                           </div>
                        </div>
 
                        <div class="control-group">
                          <label class="control-label">上传图片</label>
                          <div class="controls">
                            <input type="hidden" name="eximgurl" value="{$list.imgurl}"/>
                            <div class="alert alert-warning">提示：上传图片大小：宽830px、高550px</div>
                            <input type="file" id="imageUpload" name="imgurl"/>
                            <div id="eximg" class="preview" style="position: absolute; float: left;"><img src="__vidurl__/{$list.imgurl}" alt=""/></div>
				            <div id="preview" class="preview"></div>                             
                          </div>
                            <style>
                                .preview{margin-top: 20px; position: relative; width: 450px;height: 250px;}
                                .preview .item{position: absolute; width: 450px; height: 250px;}
                                .preview img{max-width: 450px;max-height: 250px;cursor: url(../images/big.cur), auto;  box-shadow: 0px 1px 1px 1px #AAA3A3;}
                                .preview img:hover{box-shadow: 0px 1px 1px 2px #83ABD2;}
                                .preview .big{z-index: 2;}
                                .preview .big img{max-width: none; max-height: none; cursor: url(../images/small.cur), auto;box-shadow: 2px 2px 10px 2px #666;}
                            </style>
                             <script type="text/javascript">
                                var Upload = (function(){
                                    var upimg = document.getElementById('imageUpload');
                                    var show  = document.getElementById('preview');
                                    var eximg  = document.getElementById('eximg');
                                    function init(){
                                        if(!(window.FileReader && window.File && window.FileList && window.Blob)){
                                            show.innerHTML = '您的浏览器不支持fileReader';
                                            upimg.setAttribute('disabled', 'disabled');
                                            return false;
                                        }
                                        handler();
                                    }
 
                                    function handler(){
                                        upimg.addEventListener('change', function(e){
                                            var files = this.files;
                                            if(files.length){
                                                checkFile(this.files);
                                            }
                                        });
                                    }
 
        
                                    function checkFile(files){
        	                            var file = files[0];
        	                            var reader = new FileReader();
        	                            // show表示<div id='show'></div>，用来展示图片预览的
        	                            if(!/image\/\w+/.test(file.type)){
                                            show.innerHTML = "请确保文件为图像类型";
                                            return false;
                                        }
                                        // onload是异步操作
        	                            reader.onload = function(e){
        		                            show.innerHTML = '<img src="'+e.target.result+'" alt="img">';
                                            if (eximg!= null){
                                                  eximg.parentNode.removeChild(eximg);
                                            }
        	                            }
        	                            reader.readAsDataURL(file);
                                    }
                                    return {
                                        init : init
                                    }
                                })();
                                Upload.init();
                                </script>
                        </div>

                        <div class="control-group">
                          <label for="normal" class="control-label">发表时间：</label>
                          <div class="controls">
                            <input type="datetime-local" name="createDate" value="{$time}"/>
                          </div>
                        </div>		
                        
                        <div class="control-group">                   
                          <div class="controls">
                                <div class="checkbox">
                                  <label>
                                      <input type="hidden" name="exishome" value="{$list.ishome}"/>
                                      <input type="checkbox" name="ishome">
                                      {eq name="$list['ishome']" value="是"}
                                        取消放到首页
                                      {else/}
                                        放到首页
                                      {/eq}
                                  </label>
                                </div>
                            </div>
                        </div>	
                        					
						<div class="form-actions">
								<input  class="btn btn-primary" type="reset" value="重置" />
								<input  class="btn btn-primary" type="submit" value="提交" />					
						</div>
								
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{/block}
{block name="js"}
    {js href="__editor__/ueditor.config.js"/}
    {js href="__editor__/ueditor.all.js"/}
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('editor',{
            initialFrameHeight:400
        });
    </script>
{/block}